[submodule "drivers/net/can/usb-can-2-module"]
	path = drivers/net/can/usb-can-2-module
	url = https://github.com/V0lk3n/usb-can-2-module
[submodule "kali-nethunter-kernel-builder"]
	path = kali-nethunter-kernel-builder
	url = https://gitlab.com/kalilinux/nethunter/build-scripts/kali-nethunter-kernel-builder
[submodule "drivers/net/wireless/realtek/rtl8188eus"]
	path = drivers/net/wireless/realtek/rtl8188eus
	url = https://github.com/aircrack-ng/rtl8188eus.git
[submodule "drivers/net/wireless/realtek/rtl8812au"]
	path = drivers/net/wireless/realtek/rtl8812au
	url = https://github.com/akabul0us/rtl8812au.git
[submodule "drivers/net/wireless/realtek/rtl88x2bu"]
	path = drivers/net/wireless/realtek/rtl88x2bu
	url = https://github.com/akabul0us/rtl88x2bu.git
[submodule "drivers/net/wireless/mediatek/mt76"]
	path = drivers/net/wireless/mediatek/mt76
	url = https://github.com/akabul0us/mt76.git
