[submodule "drivers/net/can/usb-can-2-module"]
	path = drivers/net/can/usb-can-2-module
	url = https://github.com/V0lk3n/usb-can-2-module
[submodule "kali-nethunter-kernel-builder"]
	path = kali-nethunter-kernel-builder
	url = https://gitlab.com/kalilinux/nethunter/build-scripts/kali-nethunter-kernel-builder
[submodule "drivers/net/wireless/mediatek/mt76"]
	path = drivers/net/wireless/mediatek/mt76
	url = https://github.com/akabul0us/mt76.git
